.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 202, 214);


}

.home-image{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));  
    height: 700px;
    z-index: -1;
    margin-bottom: -150px;
}
.home-row{
    display: flex;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
    
}